<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<div class="site-wrapper">

    <div class="site-wrapper-inner">

        <div class="container">
<div th:fragment="footer">

    <div class="container">

        <footer>
            <!-- this is footer -->
            <p><a href="">© 2018 MDAYAS</a> - HISTORY ENTRIES - MDA</p>
            <span sec:authorize="isAuthenticated()">
                Logged user: <span sec:authentication="name"></span> |
                Roles: <span sec:authentication="principal.authorities"></span>
            </span>

            <script type="text/javascript"
                    src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        </footer>
    </div>




</div>
</div>
</div>
</div>

</body>
</html>
