<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>History</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="https://unpkg.com/sweetalert2@7.15.1/dist/sweetalert2.all.js"></script>
    <script>
        function deleteEntry(id){
            swal({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover this entry! ID: " + id,
                type: "warning",
                icon: "warning",
                buttons: true,
                showCancelButton: true,
                dangerMode: true
            }).then(function (result) {
                if (result.value) {
                    $.post("history/deleteEntry/" + id, function (data) {
                        location.reload();
                    });
                }
            });
        }


        function editEntry(id){
            swal({
                title: 'Fill the following fields! Entry ID: ' + id,
                html:
                '<input id="swal-input1" class="swal2-input" placeholder="DNI">' +
                '<input id="swal-input2" class="swal2-input" placeholder="Observation">',
                showCancelButton: true,
                focusConfirm: false,
                type: "warning",
                preConfirm: function () {
                    return new Promise(function (resolve) {
                        resolve([
                            $('#swal-input1').val(),
                            $('#swal-input2').val()
                        ])
                    })
                }
            }).then(function (result) {
                var dni = document.getElementById('swal-input1').value;
                var obs = document.getElementById('swal-input2').value;
                $.post("history/modifyEntry/" + id + "/" + dni + "/" + obs, function (data) {
                    location.reload();
                });
            }).catch(swal.noop)
        }


        function addEntry(dni,obs){
            swal({
                title: "Are you sure?",
                text: "Are you sure you want to add the entry?",
                type: "info",
                buttons: ["Oh noez!", "Aww yiss!"],
                showCancelButton: true
            }).then(function (result) {
                if (result.value) {
                    $.post("history/addEntry/" + dni + "/" + obs, function (data) {
                        location.reload();
                    });
                }
            });
        }
    </script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h1 style="border-bottom: 1px solid black;">Patient records</h1>
            </div>
        </div>


        <div class="row" style="margin-top: 2%;">
            <div class="col-sm">
                <h3>Add new entry</h3>
            </div>
        </div>
        <div class="form-row" style="margin-bottom: 2%;">
            <div class="form-group col-md-4">
                <label for="dni">DNI</label>
                <input type="text" class="form-control" id="dni" name="dni" placeholder="DNI">
            </div>
            <div class="form-group col-md-4">
                <label for="obs">Observation</label>
                <input type="text" class="form-control" id="obs" name="obs" placeholder="Observation">
            </div>
            <div class="form-group col-md-4" style="margin-top: auto;">
                <button class="btn btn-success"  onclick="addEntry(document.getElementById('dni').value,document.getElementById('obs').value)"><i class="fa fa-plus"> ADD ENTRY</i></button>
            </div>
        </div>


        <div class="row">
            <div class="col-sm">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Date</th>
                                <th scope="col">DNI</th>
                                <th scope="col">Observations</th>
                                <th scope="col">Edit</th>
                                <th scope="col">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="entry:${entries}">
                                <th scope="row" th:text="${entry.id}"></th>
                                <td th:text="${entry.date}"></td>
                                <td th:text="${entry.patientDni}"></td>
                                <td th:text="${entry.observations}"></td>
                                <td>
                                    <button class="btn btn-info" th:onclick="'editEntry(' + ${entry.id} + ')'">
                                        <i class="fa fa-pencil"></i>
                                    </button>
                                </td>
                                <td>
                                    <button class="btn btn-danger" th:onclick="'deleteEntry(' + ${entry.id} + ')'">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
