<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>History</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="https://unpkg.com/sweetalert2@7.15.1/dist/sweetalert2.all.js"></script>
    <script>

        function deleteEntry(id){
            swal({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover this entry! ID: " + id,
                type: "warning",
                icon: "warning",
                buttons: true,
                showCancelButton: true,
                dangerMode: true
            }).then(function (result) {
                if (result.value) {
                    $.post("/history/deleteEntry/" + id, function (data) {
                        location.reload();
                    });
                }
            });
        }


        function editEntry(id, dnip, obsp){
            swal({
                title: 'Fill the following fields! Entry ID: ' + id,
                html:
                '<input id="swal-input1" class="swal2-input" pattern="[0-9]{8}[A-Za-z]{1}" title="Example: 12345678S" required placeholder="'+ dnip +'" value="'+ dnip + '">' +
                '<input id="swal-input2" class="swal2-input" minlength="5" maxlength="40" title="Must be between 5 and 40 characters" required placeholder="'+ obsp +'" value="'+ obsp + '">',
                showCancelButton: true,
                focusConfirm: false,
                type: "warning",
                preConfirm: function () {
                    return new Promise(function (resolve) {
                        resolve([
                            $('#swal-input1').val(),
                            $('#swal-input2').val()
                        ])
                    })
                }
            }).then(function (result) {
                var dni = document.getElementById('swal-input1').value;
                var obs = document.getElementById('swal-input2').value;
                if (!validateForm(dni,obs)) return;
                $.post("/history/modifyEntry/" + id + "/" + dni + "/" + obs, function (data) {
                    location.reload();
                });
            }).catch(swal.noop)
        }

        function validateForm(dni,obs){
            document.getElementById("dniformat").innerHTML = "";
            document.getElementById("mintam").innerHTML = "";
            document.getElementById("maxtam").innerHTML = "";
            document.getElementById("dniformat").style.display = "none";
            document.getElementById("mintam").style.display = "none";
            document.getElementById("maxtam").style.display = "none";
            regexDNI = /^\d{8}[a-zA-Z]$/;
            if(regexDNI.test(dni) && obs.length >= 5 && obs.length <= 40){
                return true;
            }
            if(!regexDNI.test(dni)){
                document.getElementById("dniformat").style.display = "block";
                document.getElementById("dniformat").innerHTML = "Error! The DNI doesn't have de correct format. Try again!";
            }
            if(obs.length < 5){
                document.getElementById("mintam").style.display = "block";
                document.getElementById("mintam").innerHTML = "Error! The obervations have less than 5 characters. Try again!";
            }
            if(obs.length > 40){
                document.getElementById("maxtam").style.display = "block";
                document.getElementById("maxtam").innerHTML = "Error! The observations have more than 40 characters. Try again!";
            }
            return false;
        }

    </script>
    <div th:replace="fragments/header :: header-css"/>

    <style>
        body{
            color: white !important;
            /*text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);*/
        }

        table{
            color: black;
        }
        .padre {
            text-align: center;
            width: 100%;
        }

        .hijo {
            display: inline-block;
        }

        .izquierda{
            text-align: left;
        }
    </style>
</head>
<body>
<div class="site-wrapper">
    <div class="site-wrapper-inner">


        <div class="row cover-container" style="margin-top: -10%;">
            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand">MDAYAS</h3>
                    <nav class="nav nav-masthead">
                        <a class="nav-link" th:href="@{/}">HOME</a>
                        <a class="nav-link" href="https://github.com/MYF95/records-mda">Github</a>
                        <a class="nav-link" href="https://dashboard.heroku.com/apps">Heroku</a>
                        <a class="nav-link" th:href="@{/about}">About</a>
                        <a class="nav-link" th:href="@{/history}">History Entries</a>
                        <a class="nav-link" th:href="@{/logout}">Logout</a>
                    </nav>
                </div>
            </div>
        </div>



    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h1 style="margin-bottom: 5%;">Patient records</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-sm">
                <div id ="errors">
                    <div id="dniformat" class="alert alert-danger fade in" style="display: none;">
                    </div>
                    <div id="mintam" class="alert alert-danger fade in" style="display: none;">
                    </div>
                    <div id="maxtam" class="alert alert-danger fade in" style="display: none;">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm">
                <div class="table-responsive table">
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">DNI</th>
                                <th scope="col">Observations</th>
                                <th scope="col">Options</th>
                            </tr>
                        </thead>
                        <tbody>

                        <tr th:each="entry:${entries}">
                            <!-- formato: 'dd-MM-yyyy' = 04-04-2018; formato: 'dd-MMM-yyyy' = 04-abr-2018 -->
                            <td scope="row" th:text="${#dates.format(entry.date, 'dd-MMM-yyyy')}"></td>
                            <td th:text="${entry.patientDni}"></td>
                            <td th:text="${entry.observations}"></td>
                            <td>
                                <button class="btn btn-info" th:onclick="'editEntry(\''+${entry.id}+ '\',\''+${entry.patientDni}+'\',\''+${entry.observations}+'\')'">
                                    <i class="fa fa-pencil"></i>
                                </button>
                                <button class="btn btn-danger" th:onclick="'deleteEntry(' + ${entry.id} + ')'">
                                    <i class="fa fa-trash"></i>
                                </button>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        <div class="mastfoot row padre cover container">
            <div class="inner hijo" style="margin: 0 auto;">
                <div th:replace="fragments/footer :: footer"/>
            </div>
        </div>


        </div>
    </div>
</div>
    </body>
    </html>
